<!------ Include the above in your HEAD tag ---------->

<body>
	<main>
		<div class="container">
			<div class="row justify-content-center">
				<div class="col=12 mt-3">
					<div class="jumbotron ">
						<h1 class="display-4">Bienvenue !</h1>
						<p class="lead">Notre site de e-commerce est là pour vous : un nombre incalculable de produits à
							prix réduit !</p>
						<hr class="my-4">
						<p>Bon shopping et n'oublier pas de claquer tout votre argent sur notre site.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Un catalogue diversifié et peu cher</h5>
							<p class="card-text">Accéder simplement à notre super catalogue !
							</p>
							<a [routerLink]="['./catalog']" class="btn btn-primary">Catalogue</a>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Compte client</h5>
							<p class="card-text">Créer un compte client de manière simple et rapide !
							</p>
							<a [routerLink]="['./client']" class="btn btn-primary">Client</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
</body>